@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  overflow: hidden;
  background: #1a1a1a;
  color: white;
}

canvas {
  touch-action: none;
}